input {
    display: block;
    margin: 10px;
  }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}